@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* Paleta de Colores */
:root {
    --main: #76ABAE;
    --sec: #EEEEEE;
    --black: #222831;
    --gray: #31363F;
}

/* Definiendo la equivalencia de 1rem = 10px */
html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: "Red Hat Display", sans-serif;
}

/*------------------------------------------*/

/* Elementos del hero correspondientes al buscador */

.hero {
    background-image: url("../img/hero_banner.png");
    background-size: cover;
    background-position: center;
    height: 269px;
    padding: 80px 0;

    color: #fff;
    text-align: center;
}

.hero-cont {
    max-width: 800px;
    margin: 0 auto;
    max-height: 900px;
}

.hero-cont h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-cont p {
    font-size: 24px;
}

/* Elementos correspondientes a la primera card con la oferta principal */

.main-deal {
    display: flex;
    justify-content: center;
    max-width: 60%;
    margin: 0 auto;
}
  
.main-deal-cont {
    display: flex;
    background-color: #70c6ca;
    border-radius: 20px;
}

.main-deal-img {
    width: 70%;
}

.main-deal-img img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px; /* Agrega esquinas redondeadas a la imagen */
    border-bottom-left-radius: 20px;
}

.main-deal-info {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 30px;
    color: #fff;
    border-bottom-right-radius: 20px;
    background: linear-gradient(to top, #06aed8 0%, #70c6ca 15%, transparent 50%);
}

.top-info h2 {
    font-size: 36px;
    font-weight: bold;
}
  
.top-info p {
    font-size: 16px;
    margin-top: 8px;
}
  
.bottom-info {
    margin-top: 20px;
    display: flex; /* Mostrar como flexbox */
    align-items: center; /* Centrar verticalmente los elementos */
}
  
.price-info {
    flex-grow: 1; /* Permite que el texto ocupe todo el espacio disponible */
    margin-right: 10px; /* Agrega margen derecho para separar del botón */
}
  
.price-info p {
    margin-bottom: 8px;
}
  
.price {
    font-size: 32px;
    font-weight: bold;
    margin-top: 0;
}
  
.button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}
  
.button:hover {
    background-color: #333;
}

/* Ofertas secundarias */

.offer-cards-container {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.main-offers {
    margin-top: 100px;
    margin-bottom: 150px;
}

.main-offers h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.offer-card {
    width: 350px;
    height: 220px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 300ms;
}

.offer-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.offer-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease-in-out
}

.offer-card img:hover {
    transform: scale(1.1);
}

.offer-card .offer-content {
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    padding: 30px 20px 20px 20px;
    height: auto;
    bottom: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
    z-index: 1;
}

.offer-card .offer-title {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin-bottom: -18px;
}

.offer-card .offer-desc {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.offer-card .offer-desc .offer-price {
    font-weight: bold;
    font-size: 20px;
}